*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.organizational{
    min-height: 100%;
}
.main{
    width: 100%;
    bottom: 60px;
    top: 60px;
    position: absolute;
    background-image: url(../img/fjut.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}